@model RadioButtonRazor.Models.Question


@{
    ViewData["Title"] = "Create";
}
<form asp-controller="Home" asp-action="Index">
    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="QuestionText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Choices" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Choices" class="form-control" />
                <span asp-validation-for="Choices" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>