@model RadioButtonRazor.ViewModels.QuizViewModel
@{ 
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Index">
    @foreach (var questionvm in Model.QuestionViewModels)
    {
        <label>@questionvm.Question.QuestionText</label>
        @foreach (var choice in questionvm.Question.Choices)
        {
            <input asp-for="@questionvm.SelectedChoice" type="radio" value="@choice "/> @choice.ChoiceText
        }

    }
</form>